/**/
#footer a{
    color: var(--secundario);
}
#footer a:active{
    color: var(--primario);
}
#footer a:hover{
    color: var(--hover); 
}
@media (max-width:600px) {
    #footer{
        margin-bottom: 9vw;
      }
} 