:root {
    /*Paleta de materialize
    #1b5e20 green darken-3 -nav */
    --primario: #33691e;
    --secundario: #bcf46c;
    --terciario: #f8f9fa;
    --hover:#FF5252;
}
/* header-bottom  */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
#header-bottom a:hover{
    color: var(--hover);
}
