:root {
    --primario: #33691e;
    --secundario: #bcf46c;
    --terciario: #f8f9fa;

}

body {
    margin: 0;
}

/*------HEADER-------*/
.contenedor .header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primario);
}
.contenedor .header{
    position: fixed;
    width: 100%;
    top: 0;
  
}
/*Link inicio header*/
/* <a> exoticas*/
.contenedor .header nav .inicio a {
    list-style: none;
    text-decoration: none;
    color: var(--terciario);
    margin-left: 0.2em;
    font-size: 3em;
}

/**/
/*-------Barra navegacion-------*/
.contenedor .header nav ul {
    list-style: none;
    color: var(--terciario);
    display: block;
    gap: 2em;
    justify-content: flex-start;
    
   
}

.contenedor .header nav ul li #butonDesplegable{
    
    margin: 0;
    width: 130px;
    background-color: var(--primario);
    border: var(--primario);
}
.contenedor .header nav ul li #butonDesplegable p{
    font-size: 2em;
    padding: 0;
    margin: 0;
color: var(--terciario);
}
/*-----   Barra desplagable   ----*/
.contenedor .header #desplegable {
display: none;
position: fixed;
justify-content: space-between;
left: 0;
top: 8.5%;
background-color: var(--primario);
width: 100px;
height: 91.5vh;
padding: 0.3em;

}
.contenedor .header #desplegable .especieButon{
    width: 100%;
    height: 11.3%;
    margin: 0.2em 0em;
    padding: 0;
}
.contenedor .header #desplegable .especieButon div{
    width: 100%;
    height: 100%;
    
    background-color: white;
}
.contenedor .header #desplegable .especieButon  div img{
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
}
.contenedor .header #desplegable .especieButon div p{
    width: 100%;
    max-height: 30%;
    font-size: 1.1em;
    padding: 0.22em 0em;
    margin: 0;
    background-color: var(--secundario);
}
/*-----Ocultar secciones de especie--------*/
.main #dionaea,
#drosera,
#stylidium,
#sarracenia,
#pinguicula,
#nepenthes,
#utricularia {
    display: none;

}

/*Seccion de texto principal h1 y h3 en div .titulo*/

.main{
    padding-top: 3em;
}
/*---------.seccionPrincipal : texto de bienvenida-----------------*/
/*---- .seccionPrincipal -----*/
.main .seccionPrincipal {
    display: block;
    align-items: center;
    justify-content: center;

}

/*-------- .titulo  : principal---------*/
.main .seccionPrincipal .titulo {
    text-align: center;
    color: var(--primario);
    width: 100%;

}

/*---- .h1 -----*/
.main .seccionPrincipal .titulo h1 {
    margin-bottom: 0;
    font-size: 3em;
}

/*---- .h3 -----*/
.main .seccionPrincipal .titulo h3 {
    margin-top: 0;
    font-size: 1.8em;
}

/*---- fin -----*/
/*-----------CAROUSEL ESPECIES ----------------*/
.seccionPrincipal #carouselEspecies {
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 0em;

}

/*----------- .carousel-item ----------------*/
.seccionPrincipal #carouselEspecies .carousel-item {
    height: 100%;
    width: 180px;
    padding: 0.5em;
}

/*------------Botones de especies de carousel--------*/
.seccionPrincipal #carouselEspecies .carousel-item .especieButon {
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em #33691e;
    border: 2px solid var(--primario);
    width: 100%;
    height: 100%;
    padding: 0em;
}

/*----------- div ----------------*/
.seccionPrincipal #carouselEspecies .carousel-item .especieButon div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0.2em;
}

/*----------- img ----------------*/
.seccionPrincipal #carouselEspecies .carousel-item .especieButon img {
    height: 79%;
    width: 100%;
    background-color: white;
}

/*----------- p : texto del boton ----------------*/
.seccionPrincipal #carouselEspecies .carousel-item .especieButon div p {
    width: 100%;
    height: auto;
    background-color:var(--secundario);
    border-radius: 0.2em;
    padding-top: 0em;
    padding-bottom: 0.18em;
    margin: 0;
    margin-top: -0.1em;
    font-size: 1em;
    font-size: 1.9em;
}

/*-------------------------------------------------------------------*/
/* seccion class = .especie  contenedora de divs cuidados*/
/*---- .especie -----*/
.main .especie {
    padding-left: 15em;
    padding-right: 15em;
    border-radius: 0.4em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background-color: var(--primario);
}

/*div contenedor de texto y fotos*/
.main .especie .contenedorEspecie {
    display: flex;
    flex-direction: row;
    
}

/*     .datosEspecie :contiene todo el texto de cuidados       */
.main .especie .contenedorEspecie .datosEspecie {
    padding-bottom: 0.2em;
}

/*-----------titulos y Texto de tarjeta especie---------------------*/
.main .especie .contenedorEspecie .datosEspecie .cuidados h4,
.main .especie .contenedorEspecie .datosEspecie .cuidados p {
    color: var(--primario);
}

/*div de cada modulo*/
.main .especie .cuidados {
    border-radius: 0.5em;
    background-color: var(--terciario);
    padding-bottom: 1em;
    margin: 0 0.5em;
    margin-bottom: 0;
}

/*Titulo -Nombre de la especie */
.main .especie h2 {
    margin-left: 0.2em;
    color: var(--terciario);
    padding-top: 0.5em;
    text-align: center;
}

/* Titulos de cada div cuidados*/
.main .especie h4 {
    color: var(--primario);
    text-align: center;
    margin-bottom: 0.2em;
    border-bottom: 1px solid var(--primario);
    font-size: 2em;
}

/*Texto de cada div cuidado*/
.main .especie p {
    margin: 0em 1em 0em 1em;
    font-size: 1.5em;
}

/*-------Div imagenesEspecie : contenedor fotos (ul,li)----------------------*/
/*.imagenesEspecie*/
.main .especie .contenedorEspecie .imagenesEspecie {
    height: 100%;
}

/*----- ul---- */
.main .especie .contenedorEspecie .imagenesEspecie ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    padding: 0.5em 0.5em;
}

/*-------- li --------*/
.main .especie .contenedorEspecie .imagenesEspecie ul li {
    width: 100%; 
    height: 400px;
    color: var(--terciario);
    list-style: none;
    margin-bottom: 2em;
    text-align: center;

}

/*------- img ------*/
.main .especie .contenedorEspecie .imagenesEspecie ul li img {
    width: 100%;
    max-height: 1100px;
    height: 100%;
    border-radius: 0.5em;
}

/*-----------div #inicioEspecie : predeterminado----------------*/
/*---- #inicioEspecie -----*/
.main #inicioEspecie {
    padding-top: 0em;
}

/*---- #inicioEspecie/h3 y h1 -----*/
.main #inicioEspecie h1 {
    padding-top:1em ;
    text-align: center;
    color: var(--terciario);
    font-size: 3em;

}

.main #inicioEspecie h3 {
    text-align: center;
    color: var(--terciario);
    font-size: 2.2em;
    padding-bottom: 1em;
}
/*-------------------     Footer: contenedor/page-footer  ----------------------*/
.contenedor .page-footer{
    background-color: var(--primario
    );
}
/**/

@media(max-width:1300px) {
    .main .especie {
        padding: 0em 8em;
    }
}
/**/
@media(max-width:1200px){
    .main .especie {
        padding: 0em 5em;
        
    }
}
/**/
@media(max-width:980px){
    .main .especie {
        padding: 0em 2em;
    }
    /*-------- .contenedorEspecie ---------*/
    .main .especie .contenedorEspecie{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    /*-------- div .especie .cuidados------*/
    .main .especie .contenedorEspecie .datosEspecie .cuidados h4{
        font-size: 3.5em;
    }  
    .main .especie .contenedorEspecie .datosEspecie .cuidados p{
        font-size: 3em;
    }  
    /*--------- Imagenes------*/
    
    .main .especie .contenedorEspecie .imagenesEspecie{
        width: 100%;
    }  
    .main .especie .contenedorEspecie .imagenesEspecie ul{
            width: 100%;
    }  
    .main .especie .contenedorEspecie .imagenesEspecie ul li{
        width: 100%;
        height: 100%;
        
} 
.main .especie .contenedorEspecie .imagenesEspecie ul li p{
    font-size: 2.2em;
   
} 
}
/**/
